* {
    margin: 0;
}
.container {
background-image: url("/casa\ de\ maestro\ roshi.jpg");
    width: 100vw;
    height: 100vh;
    text-align: center; 

}

p {
    font-size: xx-large;
    padding: 6%;
}

button {
    font-size: xx-large;
    padding: 1.10em;
}

#yesBtn {
    transform: translate(-100%, 0);
}

#noBtn {
    position: absolute;
    /* top: 50%;
    left: 0%;
    transform: translate(0%,-50%); */
}